
        #map {
            height: 479px;
            width: 100%;
        }

        .widget-box {
            padding-top: 0px !important;
        }

        #description {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
        }

        #infowindow-content .title {
            font-weight: bold;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }

        .pac-card {
            margin: 10px 10px 0 0;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            font-family: Roboto;
        }

        #pac-container {
            padding-bottom: 12px;
            margin-right: 12px;
        }

        .pac-controls {
            display: inline-block;
            padding: 5px 11px;
        }

            .pac-controls label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
            }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

            #pac-input:focus {
                border-color: #4d90fe;
            }

        #title {
            color: #fff;
            background-color: #4d90fe;
            font-size: 25px;
            font-weight: 500;
            padding: 6px 12px;
        }

        #map * {
            overflow: visible;
        }

        .sidebar-map {
            height: 480px;
            background-color: #404040 !important;
            /*padding-left: 12px;
            padding-right: 12px;*/
            color: white;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }

        .margin-15 {
            margin-top: 50px !important;
        }

        .widget-main {
            padding: 0px !important;
        }

        .padding-0 {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        #chart {
            max-width: 650px;
            margin: 35px auto;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .circles {
            margin-bottom: -10px;
        }

        .circle {
            width: 100px;
            margin: 6px 6px 20px;
            display: inline-block;
            position: relative;
            text-align: center;
            line-height: 1.2;
        }

            .circle canvas {
                vertical-align: top;
            }

            .circle strong {
                position: absolute;
                top: 30px;
                left: 0;
                width: 100%;
                text-align: center;
                line-height: 40px;
                font-size: 30px;
            }

                .circle strong i {
                    font-style: normal;
                    font-size: 0.6em;
                    font-weight: normal;
                }

            .circle span {
                display: block;
                color: #aaa;
                margin-top: 12px;
            }

        .tile_stats_count {
            margin-bottom: 10px;
            border-bottom: 0;
            border-right: 10px solid;
            border-color: black;
            padding-bottom: 10px;
            padding: 0 10px 0 20px;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .orange2 {
            border-color: #f39c12 !important;
        }

        .red2 {
            border-color: #dd4b39 !important;
        }

        .blue2 {
            border-color: #36a2eb !important;
            color: #36a2eb !important;
        }

        .tile_stats_count span {
            font-size: 15px;
        }

        .tile_stats_count .count {
            font-size: 40px;
            line-height: 47px;
            font-weight: 600;
        }

        .margin-90 {
            margin-top: 110px;
        }